*{
    /* màu chính sẽ sử dụng cho web */
    /* green */
    color: #05386b;
    color: #379683;
    color: #5cdb95;
    color: #8EE4AF;
    color: #edf5e1;
}

*{
    /* màu chính sẽ sử dụng cho web */
    /* black */
    color: #26454d	(65,74,76);
    color: #3b444b	(59,68,75);
    color: #353839	(53,56,57);
    color: #232b2b	(35,43,43);
    color: #0e1111	(14,17,17);
}
